#div2{
  font-size: 40px;
  color: white;
  text-decoration: underline;
}

#div1{
  background-color: black;
  color: white;
}

body{
  background-color: black;
}

nav ul{
  display: flex;
  justify-content: flex-start;
}
nav ul li a{
  display: flex;
  list-style: None;
  border: 1px solid white;
  padding: 4px;
  color: white;
  padding: 8px;
  border-radius: 20px;
  margin: 5px;
  position: relative;
  right: 40px;
  bottom: 10px;
  background-color: black;
}


nav ul li a:hover{
  border: 2px solid red;
  box-shadow: 5px 7px 15px red;
}

#ab{
  text-decoration: None;
}